/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/

body {
    margin: 0;
    text-align: center;
    background-color: #CEBA9F;
}

img {
    width: 100px;
}

.hero {
    background-image: url('images/machu-picchu.png');
    background-size: cover;
    height: 343px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

h1, h2 {
    background-color: #CEBA9F;
    padding: 5px 10px;
    border-radius: 7px;
    color: #483913;
    
}

.activities {
    background-color: #CEBA9F;
    
    margin: 0;
}

.guide {
    background-color: white;
}

.activities-title {
    color: #483913;
    margin-top:40px;
}

.activities-list {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

.activity {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
}

.activity-image {
    border-radius: 50%;
}

.guide {
    padding-top: 50px;
    padding-bottom: 50px;
}

.card-contact {
    margin: 0px auto;
    width: 457px;
    padding: 40px 20px;
    display: flex;
    justify-content: space-between;
    background-color: #483913;
    border-radius: 10px;
    box-shadow: 0px 5px 5px #000;
}

.contact-details {
    display: flex;
    flex-direction: column;
    width: 250px;
    color:#CEBA9F;
    
}

.profile {
    width: 180px;
}